.btn {
  height: 42px;
  padding: 0 24px;
  border: 0;
  border-radius: 24px;
  background: hsl(180, 66%, 49%);
  color: #fff;
	font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: opacity(0.5);
  }
}
